.container {
    width: 700px;
    margin: auto;
    border: 1px solid black;
}

.header{
    display: flex;
    align-items: stretch;
}

.header-img{
    flex-grow: 2;
    align-items: center;
    display: flex;
    justify-content: center;
}

.header-title{
    flex-grow: 8
}

.social {
    display: flex;
    justify-content: space-around;
}
.social img{
    margin: 5px;
    cursor: pointer;
}